# Local Development Environment
NODE_ENV=development
DATABASE_URL="file:./prisma/dev.db"

# Staging credentials (for testing staging features)
STAGING_USERNAME=TorontoHermit
STAGING_PASSWORD=2hip2Bsquare